*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:0;
  }
  body{
     font-family: 'Open Sans', sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
     font-weight: 800;
  }
  img{
     display:block;
  }
  
  .container{
     width:1170px;
     margin:0 auto;
  }
  .row{
     display:flex;
     flex-wrap: wrap;
  }
  .section_title{
     text-align: center;
     color:#7e8287;
     font-size: 16px;
     line-height: 41px;
  }
  .section_title h2{
     text-transform: uppercase;
     font-size: 46px;
     color:#02918c;
  }
  .section_title p{
     padding: 0 150px;
     margin: 10px;
  }
  .section_title p span{
     font-weight: 800;
     
  }
  
  /* Header Section Css Start */
  #header{
     background-color:#02918c;
  }
  
  #header .container .row{
     align-items:center;
  }
  .menu ul{
     list-style-type:none;
  }
  .menu ul li{
     display:inline-block;
  }
  .menu ul li a{
     display:inline-block;
     font-size: 12px;
     line-height:1.5;
     color:#fff;
     font-weight: 800;
     text-decoration:none;
     text-transform: uppercase;
     padding:21px 25px;
     transition:all linear .3s;
  }
  .menu ul li:hover a{
     color:#cfc91d;
  }
  .logo{
     width:30%;
  }
  .menu{
     width:70%;
     text-align: right;
  }
  /* //Header Section Css End */
  
  
  /* Banner Section Css Start */
  #banner{
     background-image: url(img/banner.jpg);
     background-size: cover;
     background-position: center;
     height:730px;
     position: relative;
     z-index: 1;
  }
  
  #banner::before{
     content:'';
     position: absolute;
     width:100%;
     height:100%;
     background-color: rgba(0,0,0,.74);
     z-index: -1;
  }
  #banner .container,
  #banner .row{
     height:100%;
  }
  #banner .container .row{
     align-items: center;
     justify-content:center;
  }
  #banner .banner_content{
     text-align:center;
     color:#fff;
  }
  #banner .banner_content h1{
     font-size: 68px;
     font-weight: 800;
     line-height:75px;
     text-transform: uppercase;
     letter-spacing:30px;
  }
  #banner .banner_content img{
     margin:49px auto;
  }
  #banner .banner_content a{
     display:inline-block;
     text-decoration:none;
     color: #0b1016;
     font-weight: 800;
     padding:15px 55px;
     font-size: 14px;
     background-color: #cfc91d;
  }
  /* //Banner Section Css End */
  
  
  /* About Section Css Start */
  .about_item_wrapper .about_item{
     width:25%;
     text-align: center;
     padding:30px 43px;
     border-right: 1px solid #ddd;
     color: #7e8287;
     font-size: 9pt;
  }
  .about_item_wrapper .about_item:last-child{
     border-right: none;
  }
  .about_item_wrapper .about_item img{
     margin:auto;
  }
  .about_item_wrapper .about_item{
     padding-bottom: 2%;
     margin-bottom: 10%;
  }
  .about_item h3{
     font-size: 16pt;
     padding-bottom: 5%;
  }

  /* //About Section Css End */
  
  /* Service Section Css Start */
  #service{
    background:#f0f0e8 url(img/serviceBanner.jpg);
    background-size:cover 50%;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    width: 100%;
 }
  #service::before{
     content:'';
     position: absolute;
     width:50%;
     height:100%;
     background-color: rgba(240,240,232,.7);
     right:0;
  }
  .service_inner{
     width: 50%;
     padding-bottom: 2%;
     margin-bottom: 10%;

  }
  .section_title{
      padding: 40px;
  }
  #service .service_inner .section_title{
     text-align:left;
  }
  #service .service_inner .section_title p{
     padding:initial;
  }
  .service_item_wrapper .service_item{
     width:50%;
  }
  .service_item h3{
      font-size: 16px;
      color: #7e8287;
      padding: 15px 0px;
      
  }
  .service_item .main1{
    padding: 40px 53px;
    font-size: 11px;
    color: #7e8287;
    }
  .service_item .main2{
    padding: 40px 53px;
    font-size: 11px;
    color: #7e8287;
    }
  .service_item .main3{
    padding: 40px 53px;
    font-size: 11px;
    color: #7e8287;
    }
  .service_item .main4{
    padding: 40px 53px;
    font-size: 11px;
    color: #7e8287;
    }
   
    


  /* //Service Section Css End */
  
  /* My Work Section Css Start */
 
  #myWork .myWork_item_wrapper .myWork_item{
     width:25%;
  }
  #myWork .myWork_item_wrapper .myWork_item img{
     width:100%;
    
  }
  #myWork .myWork_item_wrapper .myWork_item{
     position: relative;
  }
  #myWork .myWork_item_wrapper .myWork_item .myWork_overly{
     position:absolute;
     background-color: rgba(2,145,140,.85);
     top:20px;
     left: 30px;
     right:30px;
     bottom: 20px;
     text-align: center;
     padding: 35px;
     margin: 5px;
     transform:scale(0);
     transform-origin:left bottom;
     transition:all ;
     color: #fff;  
  }
  #myWork .myWork_item_wrapper .myWork_item:hover .myWork_overly{
     transform:scale(1);
     
  }
  /* //My Work Section Css End */

   /* Contact Section Css Start */
   .contact_inner{
      padding: 2%;
      margin: 5%;
   }
   .contact_me{
      background-color: #0b0b0b;
   }
   .Name{
      font-size: 16px;
      color: #7e8287;
      text-align: center;
      padding-top: 5%;   
   }
   
   .Email{
      font-size: 16px;
      color: #7e8287;
      text-align: center;
      padding-top: 5%;
   }
   .Message{
      font-size: 16px;
      color: #7e8287;
      text-align: center;
      padding-top: 5%;
      
   }
   .underline{
      padding: 5px 350px;
   }
   .line{
      padding: 5px 200px;
   }
   .Final_line{
      padding:50px 200px;
   }
    /* //Contact Section Css End */
  
    /* Submit Section Css Start */
    #submit .container,
    #submit .row{
       height:100%;
       width: 100%;
       background-color:#0b0b0b;
    }
    #submit .container .row{
       align-items: center;
       justify-content:center;
    }
    #submit .container .row{
      align-items: center;
      justify-content:center;
   }
   #submit .submit_content{
      text-align:center;
      color: #0b0b0b;
   }
   #submit .submit_content h1{
      font-size: 68px;
      font-weight: 800;
      line-height:75px;
      text-transform: uppercase;
      letter-spacing:30px;
   }
   #submit .submit_content{
      margin:35px auto;
   }
   #submit .submit_content a{
      display:inline-block;
      text-decoration:none;
      color: #0b1016;
      font-weight: 800;
      padding:15px 55px;
      font-size: 14px;
      background-color: #cfc91d;
   }
   /* //Submit Section Css End */

   /* last Section Css Start */
   #last .last_content{
      background-color: #000000;
      text-align: center;
      color:#7e8287;
      padding: 30px;
      font-size: 12px;
   }
   /* //last Section Css End */
    
  